[package]
name = "gif-speeder"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.56", features = ["derive"] }
image = { version = "0.25.9", features = ["gif"] }
